<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/admin.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/1dee86f35b.js" crossorigin="anonymous"></script>
</head>
<body>
    <!-- Start Sections -->
    <div class="sections">
        <a href="/admin"><i class="fa-solid fa-igloo"></i></a>
        <a href="/adminCheckin"><i class="fa-solid fa-igloo"></i></a>
        <a href="/adminCheckout"><i class="fa-solid fa-igloo"></i></a>
        <a href="/adminMaintenance"><i class="fa-solid fa-igloo"></i></a>
        <a href="/adminUsers"><i class="fa-solid fa-igloo"></i></a>
    </div>
    <!-- End Sections -->

    <!-- Start Header -->
    <div class="header">
        <div class="container">
            <div class="logo">
                USIU HOSTEL DASHBOARD
            </div>
            <div class="user">
                <div class="name">
                    <i class="fa-solid fa-user"></i>
                    <h5>Admin</h5>
                    <a href="/"><i class="fa fa-sign-out" aria-hidden="true"></i></a>
                    
                </div>
            </div>
            <p>Welcome Back, <span>Admin</span></p>

            <h2>Room Allocation</h2>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead class="table-dark">
                        <tr>
                            <th>Room Number</th>
                            <th>Spaces</th>
                            <th>Wing</th>
                            <th>Floor</th>
                            <th>Gender</th>
                            <th>Students</th>
                        </tr>
                    </thead>
                    <tbody id="table">
                        <!-- Add your table rows dynamically here -->
                    </tbody>
                </table>
            </div>

            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Add ID Number
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <label for="idNumber">ID Number:</label>
                                <input type="number" name="idNumber" id="idNumber">
                                <select name="select-rooms" id="select-rooms" class="form-select">
                                    <option value="">Please select a room</option>
                                </select>

                                <input type="submit" value="Submit" class="btn btn-primary">
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="./js/admin.js"></script>
</html>
