  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/home.css">
  </head>
  <body>
     <div class="landing-page">
        <header>
          <div class="container">
            <a href="/home" class="logo">USIU Hostels</a>
            <ul class="links">
              <li> <a href="/home">Home</a></li>
              <li><a href="/maintenance">Maintenance Needs</a></li>
              <li><a href="/checkin">Check-in</a></li>
              <li><a href="/checkout">Check-out</a></li>
              <li><a href="/">Logout</a></li>
            </ul>
          </div>
        </header>
        <div class="content">
          <div class="container">
            <div class="info">
              <h1>Looking For A Hostel</h1>
              <p>Our mission is to increase your experience in your stay at USIU with ease in communication between the the resident and the admin</p>
              <a href="/admin"><button>Get Started</button></a>
            </div>
            <div class="image">
              <img src="/images/Hostel.png">
            </div>
          </div>
        </div>
      </div>
      <!-- End Landing Page -->
    
  </body>

     