<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/login.css">
        <script src="https://kit.fontawesome.com/1dee86f35b.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="create">
  <div class="overlay"></div>
  <div class="account">
    <h2>Login</h2>
           {{#if msg}}
      <p class="{{msg_type}}"> {{msg}}</p>
      {{/if}}
    <form action="/auth/login" method="post">
      <div class="group">
        <label>Your email</label>
        <i class="fas fa-envelope"></i><input type="email" placeholder="example@company.com" name="email" id="email">
      </div>
      <div class="group">
        <label>Password</label>
        <i class="fas fa-unlock-alt"></i><input type="password" placeholder="Password" name="password" id="password">
      </div>
      <button type="submit">Login</button>
      <span class="or">or</span>
      <p> Not a member? <a href="/register">Signup now</a> </p>
    </form>
  </div>
</div>
    
</body>
</html>